<section class="section experience" id="experience">
  <div class="section__label">// 03 experience</div>
  <div class="section__content">
    <h2 class="section__heading">Experience</h2>
    <div class="experience__list">
      {% for job in site.data.experience %}
      <div class="experience__item">
        <div class="experience__header">
          <div class="experience__role">
            <h3 class="experience__position">{{ job.position }}</h3>
            <span class="experience__company">
              <a href="{{ job.url }}" target="_blank" rel="noopener">{{ job.company }}</a>
            </span>
          </div>
          <span class="experience__time">{{ job.time }}</span>
        </div>
        {% if job.description %}
        <p class="experience__description">{{ job.description }}</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
